
*.nupkg
NICAT/.vs/config/applicationhost.config
NICAT/.vs/NICAT/v14/.suo
NICAT/NICAT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NICAT/packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.dll
NICAT/packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.pdb
NICAT/packages/AutoMapper.7.0.1/lib/net45/AutoMapper.dll
NICAT/packages/AutoMapper.7.0.1/lib/net45/AutoMapper.pdb
NICAT/packages/AutoMapper.7.0.1/lib/net45/AutoMapper.xml
NICAT/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/AutoMapper.dll
NICAT/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/AutoMapper.pdb
NICAT/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/AutoMapper.xml
NICAT/packages/AutoMapper.7.0.1/lib/netstandard1.3/AutoMapper.dll
NICAT/packages/AutoMapper.7.0.1/lib/netstandard1.3/AutoMapper.pdb
NICAT/packages/AutoMapper.7.0.1/lib/netstandard1.3/AutoMapper.xml
NICAT/packages/AutoMapper.7.0.1/lib/netstandard2.0/AutoMapper.dll
NICAT/packages/AutoMapper.7.0.1/lib/netstandard2.0/AutoMapper.pdb
NICAT/packages/AutoMapper.7.0.1/lib/netstandard2.0/AutoMapper.xml
NICAT/packages/Bootstrap-3-Typeahead.4.0.2/content/Scripts/bootstrap3-typeahead.js
NICAT/packages/Bootstrap-3-Typeahead.4.0.2/content/Scripts/bootstrap3-typeahead.min.js
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap-grid.css
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap-grid.css.map
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap-grid.min.css
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap-grid.min.css.map
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap-reboot.css
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap-reboot.css.map
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap-reboot.min.css
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap-reboot.min.css.map
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap.css
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap.css.map
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap.min.css
NICAT/packages/bootstrap.4.1.1/content/Content/bootstrap.min.css.map
NICAT/packages/bootstrap.4.1.1/content/Scripts/bootstrap.bundle.js
NICAT/packages/bootstrap.4.1.1/content/Scripts/bootstrap.bundle.js.map
NICAT/packages/bootstrap.4.1.1/content/Scripts/bootstrap.bundle.min.js
NICAT/packages/bootstrap.4.1.1/content/Scripts/bootstrap.bundle.min.js.map
NICAT/packages/bootstrap.4.1.1/content/Scripts/bootstrap.js
NICAT/packages/bootstrap.4.1.1/content/Scripts/bootstrap.js.map
NICAT/packages/bootstrap.4.1.1/content/Scripts/bootstrap.min.js
NICAT/packages/bootstrap.4.1.1/content/Scripts/bootstrap.min.js.map
NICAT/packages/EntityFramework.6.1.3/content/App.config.transform
NICAT/packages/EntityFramework.6.1.3/content/Web.config.transform
NICAT/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
NICAT/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
NICAT/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
NICAT/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
NICAT/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
NICAT/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
NICAT/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
NICAT/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
NICAT/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
NICAT/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
NICAT/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
NICAT/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
NICAT/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
NICAT/packages/EntityFramework.6.1.3/tools/init.ps1
NICAT/packages/EntityFramework.6.1.3/tools/install.ps1
NICAT/packages/EntityFramework.6.1.3/tools/migrate.exe
NICAT/packages/FontAwesome.4.7.0/Content/Content/font-awesome.css
NICAT/packages/FontAwesome.4.7.0/Content/Content/font-awesome.min.css
NICAT/packages/FontAwesome.4.7.0/Content/fonts/fontawesome-webfont.eot
NICAT/packages/FontAwesome.4.7.0/Content/fonts/fontawesome-webfont.svg
NICAT/packages/FontAwesome.4.7.0/Content/fonts/fontawesome-webfont.ttf
NICAT/packages/FontAwesome.4.7.0/Content/fonts/fontawesome-webfont.woff
NICAT/packages/FontAwesome.4.7.0/Content/fonts/fontawesome-webfont.woff2
NICAT/packages/FontAwesome.4.7.0/Content/fonts/FontAwesome.otf
NICAT/packages/FontAwesome.4.7.0/tools/install.ps1
NICAT/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1-vsdoc.js
NICAT/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.js
NICAT/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.min.js
NICAT/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.min.map
NICAT/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.slim.js
NICAT/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.slim.min.js
NICAT/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.slim.min.map
NICAT/packages/jQuery.3.3.1/Tools/common.ps1
NICAT/packages/jQuery.3.3.1/Tools/install.ps1
NICAT/packages/jQuery.3.3.1/Tools/jquery-3.3.1.intellisense.js
NICAT/packages/jQuery.3.3.1/Tools/uninstall.ps1
NICAT/packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate-vsdoc.js
NICAT/packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.js
NICAT/packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.min.js
NICAT/packages/Microsoft.AspNet.Cors.5.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.Cors.5.2.6/lib/net45/System.Web.Cors.dll
NICAT/packages/Microsoft.AspNet.Mvc.5.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.Mvc.5.2.6/Content/Web.config.install.xdt
NICAT/packages/Microsoft.AspNet.Mvc.5.2.6/Content/Web.config.uninstall.xdt
NICAT/packages/Microsoft.AspNet.Mvc.5.2.6/lib/net45/System.Web.Mvc.dll
NICAT/packages/Microsoft.AspNet.Mvc.5.2.6/lib/net45/System.Web.Mvc.xml
NICAT/packages/Microsoft.AspNet.Razor.3.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.Razor.3.2.6/lib/net45/System.Web.Razor.dll
NICAT/packages/Microsoft.AspNet.Razor.3.2.6/lib/net45/System.Web.Razor.xml
NICAT/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
NICAT/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
NICAT/packages/Microsoft.AspNet.WebApi.5.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.WebApi.Client.5.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/net45/System.Net.Http.Formatting.dll
NICAT/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/net45/System.Net.Http.Formatting.xml
NICAT/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/netstandard2.0/System.Net.Http.Formatting.dll
NICAT/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/netstandard2.0/System.Net.Http.Formatting.xml
NICAT/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
NICAT/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
NICAT/packages/Microsoft.AspNet.WebApi.Core.5.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.WebApi.Core.5.2.6/Content/web.config.transform
NICAT/packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45/System.Web.Http.dll
NICAT/packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45/System.Web.Http.xml
NICAT/packages/Microsoft.AspNet.WebApi.Cors.5.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.WebApi.Cors.5.2.6/lib/net45/System.Web.Http.Cors.dll
NICAT/packages/Microsoft.AspNet.WebApi.Cors.5.2.6/lib/net45/System.Web.Http.Cors.xml
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ApiDescriptionExtensions.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/App_Start/HelpPageConfig.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Controllers/HelpController.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/HelpPage.css.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/HelpPageAreaRegistration.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/HelpPageConfigurationExtensions.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/CollectionModelDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/ComplexTypeModelDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/DictionaryModelDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/EnumTypeModelDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/EnumValueDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/IModelDocumentationProvider.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/KeyValuePairModelDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/ModelDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/ModelDescriptionGenerator.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/ModelNameAttribute.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/ModelNameHelper.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/ParameterAnnotation.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/ParameterDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/ModelDescriptions/SimpleTypeModelDescription.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Models/HelpPageApiModel.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleGenerator.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleKey.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/SampleGeneration/ImageSample.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/SampleGeneration/InvalidSample.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/SampleGeneration/ObjectGenerator.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/SampleGeneration/SampleDirection.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/SampleGeneration/TextSample.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/_ViewStart.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/Api.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/CollectionModelDescription.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ComplexTypeModelDescription.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/DictionaryModelDescription.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/EnumTypeModelDescription.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/KeyValuePairModelDescription.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/SimpleTypeModelDescription.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/Index.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Help/ResourceModel.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Shared/_Layout.cshtml.pp
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/Views/Web.config
NICAT/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.6/Content/Areas/HelpPage/XmlDocumentationProvider.cs.pp
NICAT/packages/Microsoft.AspNet.WebApi.WebHost.5.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.WebApi.WebHost.5.2.6/lib/net45/System.Web.Http.WebHost.dll
NICAT/packages/Microsoft.AspNet.WebApi.WebHost.5.2.6/lib/net45/System.Web.Http.WebHost.xml
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/.signature.p7s
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/Content/Web.config.install.xdt
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/Content/Web.config.uninstall.xdt
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/lib/net45/System.Web.Helpers.dll
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/lib/net45/System.Web.Helpers.xml
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/lib/net45/System.Web.WebPages.Deployment.dll
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/lib/net45/System.Web.WebPages.Deployment.xml
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/lib/net45/System.Web.WebPages.dll
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/lib/net45/System.Web.WebPages.Razor.dll
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/lib/net45/System.Web.WebPages.Razor.xml
NICAT/packages/Microsoft.AspNet.WebPages.3.2.6/lib/net45/System.Web.WebPages.xml
NICAT/packages/Microsoft.jQuery.Unobtrusive.Ajax.3.2.5/Content/Scripts/jquery.unobtrusive-ajax.js
NICAT/packages/Microsoft.jQuery.Unobtrusive.Ajax.3.2.5/Content/Scripts/jquery.unobtrusive-ajax.min.js
NICAT/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.10/.signature.p7s
NICAT/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.10/Content/Scripts/jquery.validate.unobtrusive.js
NICAT/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.10/Content/Scripts/jquery.validate.unobtrusive.min.js
NICAT/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
NICAT/packages/Modernizr.2.8.3/Content/Scripts/modernizr-2.8.3.js
NICAT/packages/Modernizr.2.8.3/Tools/common.ps1
NICAT/packages/Modernizr.2.8.3/Tools/install.ps1
NICAT/packages/Modernizr.2.8.3/Tools/uninstall.ps1
NICAT/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
NICAT/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
NICAT/packages/Newtonsoft.Json.11.0.2/LICENSE.md
NICAT/packages/popper.js.1.14.3/content/Scripts/esm/popper-utils.js
NICAT/packages/popper.js.1.14.3/content/Scripts/esm/popper-utils.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/esm/popper-utils.min.js
NICAT/packages/popper.js.1.14.3/content/Scripts/esm/popper-utils.min.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/esm/popper.js
NICAT/packages/popper.js.1.14.3/content/Scripts/esm/popper.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/esm/popper.min.js
NICAT/packages/popper.js.1.14.3/content/Scripts/esm/popper.min.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/index.d.ts
NICAT/packages/popper.js.1.14.3/content/Scripts/popper-utils.js
NICAT/packages/popper.js.1.14.3/content/Scripts/popper-utils.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/popper-utils.min.js
NICAT/packages/popper.js.1.14.3/content/Scripts/popper-utils.min.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/popper.js
NICAT/packages/popper.js.1.14.3/content/Scripts/popper.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/popper.min.js
NICAT/packages/popper.js.1.14.3/content/Scripts/popper.min.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/README.md
NICAT/packages/popper.js.1.14.3/content/Scripts/umd/popper-utils.js
NICAT/packages/popper.js.1.14.3/content/Scripts/umd/popper-utils.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/umd/popper-utils.min.js
NICAT/packages/popper.js.1.14.3/content/Scripts/umd/popper-utils.min.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/umd/popper.js
NICAT/packages/popper.js.1.14.3/content/Scripts/umd/popper.js.map
NICAT/packages/popper.js.1.14.3/content/Scripts/umd/popper.min.js
NICAT/packages/popper.js.1.14.3/content/Scripts/umd/popper.min.js.map
NICAT/packages/System.ValueTuple.4.5.0/.signature.p7s
NICAT/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
NICAT/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
NICAT/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
NICAT/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
NICAT/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
NICAT/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
NICAT/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
NICAT/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
NICAT/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
NICAT/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
NICAT/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
NICAT/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
NICAT/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
NICAT/packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
NICAT/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
NICAT/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
NICAT/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
NICAT/packages/System.ValueTuple.4.5.0/LICENSE.TXT
NICAT/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
NICAT/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
NICAT/packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
NICAT/packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
NICAT/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
NICAT/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
NICAT/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
NICAT/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
NICAT/packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
NICAT/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
NICAT/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
NICAT/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
NICAT/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
NICAT/packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
NICAT/packages/System.ValueTuple.4.5.0/version.txt
NICAT/packages/WebGrease.1.6.0/lib/WebGrease.dll
NICAT/packages/WebGrease.1.6.0/tools/WG.EXE
NICAT/NICAT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
NICAT/NICAT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NICAT/NICAT/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
