@model IEnumerable<Purchase>

<div class="table-responsive">
    <table id="list" class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>進貨編號</th>
                <th>進貨日期</th>
                <th>運費</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var it in Model)
            {
                <tr class="alert-info">
                    <td>@Html.DisplayFor(m => it.TransNo)</td>
                    <td>@Html.DisplayFor(m => it.TradeDate)</td>
                    <td>@Html.DisplayFor(m => it.Fee)</td>
                </tr>
            }
        </tbody>
    </table>
</div>