@{
    string btnQuery = Guid.NewGuid().ToString();
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-9">
            @Html.TextBox("keyword", "", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.ButtonBuilder(ButtonType.button, btnQuery, "篩選")
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#' + '@btnQuery').on('click', function () {
            var kw = $('#keyword').val();
            $('#' + '@Model' + ' tbody tr').each(function (i, tr) {
                if (kw == '') {
                    $(tr).removeClass('hidden');
                }
                else {
                    if ($(tr).find('td:contains(' + kw + ')').length == 0)
                        $(tr).addClass('hidden');
                    else
                        $(tr).removeClass('hidden');
                }
            });
        });
    });
</script>