body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input[type=number]
{
  text-align: right;
}

.table-responsive {
    max-height: 500px;
}

.cat01{
    background-image: url('../../img/footer_pc_anime01.gif'); 
    height: 50px; 
    background-repeat: no-repeat;
}
.cat02{
    background-image: url('../../img/footer_pc_anime02.gif'); 
    height: 50px; 
    background-repeat: no-repeat;
}
.cat03{
    background-image: url('../../img/footer_pc_anime03.gif'); 
    height: 50px; 
    background-repeat: no-repeat;
}