@model Order
@{
    bool NotPay = Model.ReceiptNo.IsNullOrEmpty();
}
@using (Ajax.BeginForm(new AjaxOptions()
{
    OnSuccess = "onSaved",
    Url = Url.Action("Update")
}))
{
    <div class="row">
        <div class="col-md-12">
            @Html.EditorForModel()
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @if (NotPay)
                {
                    @Html.ButtonBuilder(ButtonType.submit, "btnSave", "儲存")
                }
                @Html.ButtonBuilder(ButtonType.button, "btnCancel", "取消")
                @if (NotPay)
                {
                    @Html.ButtonBuilder(ButtonType.button, "btnDelete", "刪除")
                }
            </div>
        </div>
    </div>
}
